@font font-normal {
    src: ./fonts/Inter/Inter_Variable_Weight.ttf;
    size: 14;
    weight: 400;
}

@font font-arial {
    src: ./fonts/arial/ARIAL.ttf;
    size: 12;
    weight: 400;
}

@font font-table-cell {
    src: ./fonts/Inter/Inter_Variable_Weight.ttf;
    size: 12;
    weight: 400;
}


/* tag styles */
window {
    background: #2f2f2f;
    pad: 3;
    gap: 3;
}
button {
    border: 1;
    borderBottom: 2;
    borderRadius: 3;
    background: #2f2f2f;
    borderColour: #000000;
    textColour: #ffffff;
    pad: 5;
    textAlignH: center;
}
button:hover {
    background: #4b4b4b;
}
button:press {
    background: #222222;
}
thead {
    pad: 2;
    border: 1;
    borderColour: #000000;
    background: #2f2f2f;
}
row {
    pad: 2;
    border: 1;
    borderTop: 0;
    borderColour: #000000;
    background: #2f2f2f;
    alignV: center;
    position: absolute;
}
.cell {
    pad: 0;
    background: #000000;
    alignV: center;
    font: font-table-cell;
}






#toolbar {
    pad: 3;
    gap: 1;
    borderRadius: 5;
    grow: h;
    background: #151515;
    alignV: center;
}
.tab-button {
    border: 1;
    borderRadius: 3;
    background: #2f2f2f;
    borderColour: #000000;
    textColour: #c1d5e3;
    pad: 5;
    textAlignH: center;
}
.tab-button-selected {
    textColour: #0b1528;
    background: #4f7fd9;
}
.tab-button-selected:hover {
    textColour: #0b1528;
    background: #4f7fd9;
}
.tab-item {
    pad: 5;
    borderColour: #404040;
    border: 1
    borderRadius: 3;
}






#side-bar {
    width: 300;
    background: #2f2f2f;
    borderColour: #151515;
    borderRadius: 6;
}
#watchlist {
    dir: v;
    grow: b;
    pad: 5;
    overflowV: s;
    borderRadius: 5;
    background: #151515;
}
#watchlist-searchbar {
    border: 1;
    borderRadius: 3;
    borderColour: #000000;
    background: #000000;
    pad: 5;
    grow: h;
}
#watchlist-searchbar:hover {
    borderColour: #9b5920;
    borderRadius: 3;
}
.watchlist-header-text {
    pad: 3;
    background: #060606;
}
.crypto-icon {
    width: 20;
    height: 20;
    background: none;
}
#watchlist-dom-selector {
    grow: h;
    dir: h;
    background: #2f2f2f;
}
#watchlist-selector-btn, #orderbook-selector-btn {
    grow: h;
    pad: 5;
    border: 0;
    borderBottom: 3;
    borderRadius: 0;
    borderColour: #2f2f2f;
    background: #2f2f2f;
}
#watchlist-selector-btn:hover, #orderbook-selector-btn:hover {
    background: #515151;
    borderColour: #9b5920;
}





#trade-panel {
    background: #000000;
    border: 4;
    borderRadius: 5;
    pad: 5;
    borderColour: #151515;
    dir: v;
    grow: b;
    maxHeight: 500;
}
#trade-panel-side-selection {
    dir: h;
    grow: h;
    background: none;
}
#buy-side-btn {
    dir: v;
    grow: h;
    borderRadius: 5;
    borderRadiusTopRight: 0;
    borderRadiusBottomRight: 0;
    background: #02a95b;
}
#sell-side-btn {
    dir: v;
    grow: h;
    borderRadius: 5;
    borderRadiusTopLeft: 0;
    borderRadiusBottomLeft: 0;
    background: #db2626;
}
.buy-side-text, .sell-side-text {
    background: none;
    grow: h;
    textAlignH: center;
    textColour: #000000ff;
}   
.input-label {
    pad: 3;
    background: none;
}
.number-input {
    border: 1;
    borderRadius: 3;
    borderColour: #2f2f2f;
    background: #000000;
    pad: 5;
    grow: h;
}
.number-input:hover {
    borderColour: #9b5920;
    borderRadius: 3;
}




#right-bar {
    background: none;
    grow: b;
    dir: v;
    gap: 3;
}
#chart {
    border: 4;
    borderRadius: 5;
    borderColour: #151515;
    background: #000000;
    pad: 0;
    grow: b;
}
#drawing-toolbar {
    dir: v;
    grow: v;
    background: #2f2f2f;
    borderRadius: 3
    padTop: 4;
    padBottom: 4;
}
.drawing-tool {
    width: 43;
    height: 40;
    pad: 5;
    border: 0;
    borderLeft: 3;
    borderRadius: 0;
    borderRadiusTopRight: 5;
    borderRadiusBottomRight: 5;
    borderColour: #2f2f2f;
    background: #2f2f2f;
}
.drawing-tool:hover {
    borderColour: #9b5920;
}
.drawing-tool:press {
    borderColour: #151515;
    background: #151515;
}






#trade-history-container {
    grow: b;
    background: #2f2f2f;
    borderRadius: 5;
    gap: 3;
    maxHeight: 300;
}
#trade-history-toolbar {
    background: #151515;
    grow: h;
    alignV: center;
    pad: 3;
    borderRadius: 5;
}
.page-icon {
    width: 30;
    height: 30;
    pad: 4;
}
.page-btn {
    height: 30;
    width: 50;
    pad: 4;
}
.table-order-delete {
    width: 32;
    height: 33;
}



















#editor-tab-container {
    grow: b;
}
#scripts-column {
    grow: b;
    maxWidth: 200;
    dir: v;
    background: #2f2f2f;
}
#scripts-column-header {
    pad: 3;
    padBottom: 0;
    background: #151515;
    grow: h;
}
#scripts-list {
    grow: b;
    dir: v;
    pad: 3;
    gap: 1;
    background: #151515;
    overflowV: s;
}
.script-item {
    border: 1;
    borderColour: #2f2f2f;
    background: #2f2f2f;
    pad: 5;
    grow: h;
}
.script-item:hover {
    borderColour: #ffffff;
}



#code-editor-column {
    grow: b;
    pad: 5;
    border: 1;
    background: #2f2f2f;
    borderColour: #000000;
    dir: v;
}
#backtest-column {
    grow: b;
    dir: v;
}
#backtest-chart {
    grow: b;
    pad: 5;
    border: 1;
    background: #2f2f2f;
    borderColour: #000000;
}
#backtest-settings {
    grow: b;
    pad: 5;
    border: 1;
    background: #2f2f2f;
    borderColour: #000000;
}