@font font-normal {
    src: app/fonts/Inter/Inter_Variable_Weight.ttf;
    size: 14;
    weight: 400;
}
.container {
    padding: 16;
}
button {
    background: #3a7afe;
    text-colour: #ffffff;
    border-radius: 4;
}