@font font-normal {
    src: "./fonts/Inter/Inter_Variable_Weight.ttf";
    size: 14;
    weight: 400;
}

@font font-arial {
    src: "./fonts/arial/ARIAL.ttf";
    size: 12;
    weight: 400;
}

@font font-table-cell {
    src: "./fonts/Inter/Inter_Variable_Weight.ttf";
    size: 12;
    weight: 400;
}



image {
    width: 40;
    height: 40;
}


/* tag styles */
window {
    background: #2f2f2f; /* tag styles */
    padding: 3;
    gap: 3;
}
button {
    border: 1;
    border-bottom: 2;
    border-radius: 3;
    background: "#2f2f2f";
    border-colour: #000000;
    text-colour: #ffffff;
    padding: 5;
    text-align-h: "center";
}
button:hover {
    background: #4b4b4b;
}
button:press {
    background: #222222;
}
thead {
    padding: 2;
    border: 1;
    border-colour: #000000;
    background: #2f2f2f;
}
row {
    padding: 2;
    border: 1;
    border-top: 0;
    border-colour: #000000;
    background: #2f2f2f;
    align-v: center;
    position: absolute;
}
.cell {
    padding: 3;
    background: #0c0c0c;
    align-v: center;
    font: font-table-cell;
}





#toolbar {
    padding: 3;
    gap: 1;
    border-radius: 5;
    grow: h;
    background: #151515;
    align-v: center;
}
.tab-button {
    border: 1;
    border-radius: 3;
    background: #2f2f2f;
    border-colour: #000000;
    text-colour: #c1d5e3;
    padding: 5;
    text-align-h: center;
}
.tab-button-selected {
    text-colour: #0b1528;
    background: #4f7fd9;
}
.tab-button-selected:hover {
    text-colour: #0b1528;
    background: #4f7fd9;
}
.tab-item {
    padding: 5;
    border-colour: #404040;
    border: 1
    border-radius: 3;
}








#side-bar {
    width: 300;
    background: #2f2f2f;
    border-colour: #151515;
    border-radius: 6;
}
#watchlist {
    grow: b;
    dir: v;
    background: none;
}
#watchlist-table {
    dir: v;
    grow: b;
    padding: 5;
    overflow-v: s;
    border-radius: 5;
    background: #151515;
}
#watchlist-searchbar {
    border: 1;
    border-radius: 3;
    border-colour: #000000;
    background: #000000;
    padding: 5;
    grow: h;
}
#watchlist-searchbar:hover {
    border-colour: #9b5920;
    border-radius: 3;
}
.watchlist-header-text {
    padding: 3;
    background: #060606;
}
.crypto-icon {
    width: 20;
    height: 20;
    background: none;
}
#watchlist-dom-selector {
    grow: h;
    dir: h;
    background: #2f2f2f;
}
#watchlist-selector-btn, #orderbook-selector-btn {
    grow: h;
    padding: 5;
    border: 0;
    border-bottom: 3;
    border-radius: 0;
    border-colour: #2f2f2f;
    background: #2f2f2f;
}
#watchlist-selector-btn:hover, #orderbook-selector-btn:hover {
    background: #515151;
    border-colour: #9b5920;
}



#orderbook {
    grow: b;
}





#trade-panel {
    background: #000000;
    border: 4;
    border-radius: 5;
    padding: 5;
    border-colour: #151515;
    dir: v;
    grow: b;
    max-height: 500;
}
#trade-panel-side-selection {
    dir: h;
    grow: h;
    background: none;
}
#buy-side-btn {
    dir: v;
    grow: h;
    border-radius: 5;
    border-radius-top-right: 0;
    border-radius-bottom-right: 0;
    background: #02a95b;
}
#sell-side-btn {
    dir: v;
    grow: h;
    border-radius: 5;
    border-radius-top-left: 0;
    border-radius-bottom-left: 0;
    background: #db2626;
}
.buy-side-text, .sell-side-text {
    background: none;
    grow: h;
    text-align-h: center;
    text-colour: #000000ff;
}   
.input-label {
    padding: 3;
    background: none;
}
.number-input {
    border: 1;
    border-radius: 3;
    border-colour: #2f2f2f;
    background: #000000;
    padding: 5;
    grow: h;
}
.number-input:hover {
    border-colour: #9b5920;
    border-radius: 3;
}




#right-bar {
    background: none;
    grow: b;
    dir: v;
    gap: 3;
}
#chart {
    border: 4;
    border-radius: 5;
    border-colour: #151515;
    background: #000000;
    grow: b;
    padding: 0;
}
#drawing-toolbar {
    dir: v;
    grow: v;
    background: #2f2f2f;
    border-radius: 3
    padding-top: 4;
    padding-bottom: 4;
}
.drawing-tool {
    width: 43;
    height: 40;
    padding: 5;
    border: 0;
    border-left: 3;
    border-radius: 0;
    border-radius-top-right: 5;
    border-radius-bottom-right: 5;
    border-colour: #2f2f2f;
    background: #2f2f2f;
}
.drawing-tool:hover {
    background: #4b4b4b;
    border-colour: #4b4b4b;
}
.drawing-tool:press {
    border-colour: #151515;
    background: #151515;
}
.drawing-tool-selected {
    width: 43;
    height: 40;
    padding: 5;
    border: 0;
    border-left: 3;
    border-radius: 0;
    border-radius-top-right: 5;
    border-radius-bottom-right: 5;
    border-colour: #151515;
    background: #151515;
}
.drawing-tool-selected:hover {
    border-colour: #151515;
    background: #151515;
}


#trade-history-container {
    grow: b;
    background: #2f2f2f;
    border-radius: 5;
    gap: 3;
    max-height: 300;
}
#trade-history-toolbar {
    background: #151515;
    grow: h;
    align-v: center;
    padding: 3;
    border-radius: 5;
}
.page-icon {
    width: 30;
    height: 30;
    padding: 4;
}
.page-btn {
    height: 30;
    width: 50;
    padding: 4;
}
.table-order-delete {
    width: 32;
    height: 33;
}



















#editor-tab-container {
    grow: b;
}
#function-btns {
    background: #151515;
    padding: 5;
    dir: v;
    grow: v;
}
.function-btn {
    grow: h;
}
#backtest-results-canvas {
    grow: b;
}
#backtest-results {
    grow: v;
    dir: v;
    background: #151515;
    padding: 5;
    max-height: 500;
    overflow-v: s;
}
.res-text {
    background: none;
    padding: 3;
}



.temp {
    padding: 40;
    background: #02a95b;
}
.temp-child {
    padding: 20;
    background: #a96c02;
}