image {
    background: #000000;
}
#toolbar {
    pad: 5;
    borderRadius: 5;
    background: #0b0b0b;
    borderColour: #000000;
    gap:1;
}
.toolbar-info {
    border: 1;
    background: #141414;
    borderColour: #272727;
    textColour: #ededed;
    pad: 5;
    borderRadius: 3;
}
#symbol-search {
    border: 1;
    background: #0c0c0c;
    borderColour: #000000;
    pad: 8;
    borderRadius: 3;
}
#symbol-search:hover {
    background: #333741;
    borderColour: #6989d8;
}

button {
    background: #1c1c1c;
    borderColour: #272727;
    textColour: #ededed;
    border: 1;
    pad: 5;
}
button :hover {
    borderColour: #df9949;
    background: #302925;
}


.watchlist-item {
    border: 1;
    background: #1c1c1c;
    borderColour: #2a2c2f;
    pad: 5;
    gap: 3;
    grow: h;
    alignV: center;
}
.crypto-icon {
    pad: 3;
    width: 26;
    height: 26;
}


.hspacer {
    grow: h;
}
#chart-container {
    dir: h;
    grow: b;
    gap: 3;
}
#chart {
    border: 5;
    background: #070707;
    grow: b;
    borderRadius: 5;
    borderColour: #000000;
    textColour: #30b4e9;
}
#chart:hover {
    borderColour: #cd0c0c;
}
#drawing-toolbar {
    background: #1c243f;
    dir: v;
    grow: v;
    alignH: center;
    pad: 5;
    gap: 5;
    borderRadius: 5;
}
.drawing-tool {
    width: 42;
    height: 42;
    border: 1;
    borderColour: #3f4f86;
    borderRadius: 3;
    pad: 5;
}
#trade-history {
    background: #1c243f;
    maxHeight: 300;
    grow: b;
    borderRadius: 5;  
}
#trade-history-toolbar {
    borderBottom: 2;
    borderRadiusTopLeft: 5; 
    borderRadiusTopRight: 5; 
    borderColour: #000000;
    background: #373c55;
    grow: h;
    pad: 5;
    gap: 3;
}
window {
    background: #000000;
    pad: 5;
    gap: 3;
}
#sidebar {
    background: #141414;
    borderColour: #000000;
    pad: 5;
    gap: 2;
    borderRadius: 5;
}
#rightbar {
    dir: v;
    grow: b;
    gap: 3;
}
.bing {

}

.fat {
    pad: 15;
}

#editor-sidebar {
    background: #1c243f;
}