window {
    background: #101317;
}
#toolbar {
    pad: 3;
    gap: 1;
    grow: h;
    background: none;
}
.toolbar-item {
    pad: 5;
    borderColour: #384251;
    border: 1
    borderRadius: 3;
}
button {
    width: 150;
    border: 1;
    borderRadius: 3;
    background: #2c3442;
    borderColour: #000000;
    textColour: #ffffff;
    pad: 5;
    textAlignH: center;
}
button:hover {
    background: #42392c;
    borderColour: #bb9640;
}



#side-bar {
    width: 300;
    background: #101317;
    borderRadius: 5;
}
#watchlist {
    dir: v;
    grow: b;
    background: #101317;
    maxHeight: 500;
    borderRadius: 3;
}
#watchlist-searchbar {
    border: 1;
    borderColour: #000000;
    background: #000000;
    pad: 5;
    grow: h;
}
#watchlist-searchbar:hover {
    borderColour: #bb9640;
    borderRadius: 3;
}
#watchlist-item-header {
    alignV: center;
    grow: h;
    pad: 5;
}
.watchlist-item {
    border: 1;
    background: #2c3442;
    borderColour: #000000;
    pad: 5;
    grow: h;
    alignV: center;
    borderRadius: 3;
}
.watchlist-text {
    background: none;
}
.crypto-icon {
    width: 20;
    height: 20;
    background: none;
}
#watchlist-dom-selector {
    dir: h;
    padTop: 3;
    padBottom: 3;
    gap: 3;
    background: #101317;
}
#watchlist-selector-btn {
    borderRadius: 3;
}
#orderbook-selector-btn {
    borderRadius: 3;
}



#trade-panel {
    dir: v;
    grow: b;
    pad: 3;
    borderRadius: 5;
}
#trade-panel-side-selection {
    dir: h;
    grow: h;
    background: none;
    pad: 3;
}
#buy-side-btn {
    dir: v;
    grow: h;
    borderRadius: 5;
    borderRadiusTopRight: 0;
    borderRadiusBottomRight: 0;
}
#sell-side-btn {
    dir: v;
    grow: h;
    borderRadius: 5;
    borderRadiusTopLeft: 0;
    borderRadiusBottomLeft: 0;
}
.buy-side-text, .sell-side-text {
    background: none;
    grow: h;
    textAlignH: center;
}   


#right-bar {
    background: #384251;
}
#chart {
    background: #000000;
    grow: b;
}
#drawing-toolbar {
    padLeft: 3;
    padBottom: 3;
    dir: v;
    grow: v;
    background: #101317;
}
.drawing-tool {
    width: 42;
    height: 42;
    pad: 5;
    border: 1;
}


#trade-history-container {
    grow: b;
    background: #000000;
    maxHeight: 300;
}
#trade-history-toolbar {
    background: #101317;
    padTop: 3;
    padBottom: 3;
    grow: h;
    alignV: center;
}
.page-icon {
    width: 30;
    height: 30;
    pad: 4;
}
.page-btn {
    height: 32;
    width: 50;
    pad: 5;
}