@font font-normal {
    src: ./fonts/Inter/Inter_Variable_Weight.ttf;
    size: 14;
    weight: 400;
}

@font font-arial {
    src: ./fonts/arial/ARIAL.ttf;
    size: 12;
    weight: 400;
}

@font font-table-cell {
    src: ./fonts/Inter/Inter_Variable_Weight.ttf;
    size: 12;
    weight: 400;
}

window {
    pad: 3;
    gap: 3;
}
button {
    textColour: #ffffff;
    pad: 5;
    textAlignH: center;
    border: 1;
    borderColour: #ffffff;
}
button:hover {
}
button:press {
}
rect {
    border: 1;
    borderColour: #ffffff;
}
image {
    border: 1;
    borderColour: #10ff10;
}


#toolbar {
    pad: 3;
    gap: 1;
    grow: h;
    alignV: center;
}

.tab-button {
    textColour: #c1d5e3;
    pad: 5;
    textAlignH: center;
}

.tab-button-selected {
    textColour: #0b1528;
}
.tab-button-selected:hover {
    textColour: #0b1528;
}
.tab-item {
    pad: 5;
}


#side-bar {
    width: 300;
}
#watchlist {
    dir: v;
    grow: b;
    pad: 5;
    overflowV: s;
}
thead {
    position: absolute;
}
#watchlist-searchbar {
    pad: 5;
    grow: h;
}
#watchlist-searchbar:hover {
}
.watchlist-header-text {
    pad: 3;
}
.watchlist-text {
    pad: 3;
    font: font-table-cell;
}
.crypto-icon {
    width: 20;
    height: 20;
    pad: 2;
}
#watchlist-dom-selector {
    grow: h;
    dir: h;
}
#watchlist-selector-btn, #orderbook-selector-btn {
    grow: h;
    pad: 5;
}
#watchlist-selector-btn:hover, #orderbook-selector-btn:hover {
}



#trade-panel {
    pad: 5;
    dir: v;
    grow: b;
    maxHeight: 500;
}
#trade-panel-side-selection {
    dir: h;
    grow: h;
}
#buy-side-btn {
    dir: v;
    grow: h;
}
#sell-side-btn {
    dir: v;
    grow: h;
}
.buy-side-text, .sell-side-text {
    grow: h;
    textAlignH: center;
    textColour: #000000ff;
}   
.input-label {
    pad: 3;
}
.number-input {
    pad: 5;
    grow: h;
}
.number-input:hover {
}




#right-bar {
    grow: b;
    dir: v;
    gap: 3;
}
#chart {
    grow: b;
}
#drawing-toolbar {
    dir: v;
    grow: v;
    padTop: 4;
    padBottom: 4;
}
.drawing-tool {
    width: 43;
    height: 40;
    pad: 5;
}
.drawing-tool:hover {
}
.drawing-tool:press {
}






#trade-history-container {
    grow: b;
    gap: 3;
    maxHeight: 300;
}
#trade-history-toolbar {
    grow: h;
    alignV: center;
    pad: 3;
}
.page-icon {
    width: 30;
    height: 30;
    pad: 4;
}
.page-btn {
    height: 30;
    width: 50;
    pad: 4;
}


thead {
    pad: 3;
}
row {
    pad: 3;
}
.cell {
    pad: 3;
    alignV: center;
    font: font-table-cell;
}
.table-order-delete {
    width: 32;
    height: 33;
}



















#editor-tab-container {
    grow: b;
}
#scripts-column {
    grow: b;
    maxWidth: 200;
    dir: v;
    pad: 3;
    gap: 3;
}
#scripts-column-header {
    pad: 3;
    grow: h;
}
#scripts-list {
    grow: b;
    dir: v;
}
#code-editor-column {
    grow: b;
    pad: 5;
    dir: v;
}
#backtest-column {
    grow: b;
    dir: v;
}
#backtest-chart {
    grow: b;
    pad: 5;
}
#backtest-settings {
    grow: b;
    pad: 5;
}