window {
    background: #2f2f2f;
    pad: 3;
    gap: 3;
}
#toolbar {
    pad: 3;
    padLeft: 0;
    padRight: 0;
    gap: 3;
    borderRadius: 5;
    grow: h;
    background: #2f2f2f;
}
.toolbar-item {
    pad: 5;
    borderColour: #404040;
    border: 1
    borderRadius: 3;
}
button {
    width: 150;
    border: 1;
    borderBottom: 2;
    borderRadius: 3;
    background: #2f2f2f;
    borderColour: #000000;
    textColour: #ffffff;
    pad: 5;
    textAlignH: center;
}
button:hover {
    background: #4b4b4b;
}
button:press {
    background: #222222;
}


#side-bar {
    width: 300;
    background: #2f2f2f;
    borderColour: #151515;
    borderRadius: 6;
}
#watchlist {
    dir: v;
    grow: b;
    maxHeight: 500;
    pad: 5;
    borderRadiusTopLeft: 5;
    borderRadiusTopRight: 5;
}
#watchlist-searchbar {
    border: 1;
    borderRadius: 3;
    borderColour: #000000;
    background: #000000;
    pad: 5;
    grow: h;
}
#watchlist-searchbar:hover {
    borderColour: #9b5920;
    borderRadius: 3;
}
#watchlist-list {
    background: #a81927;
}
.watchlist-text {
    pad: 5;
    background: none;
}
.crypto-icon {
    width: 20;
    height: 20;
    pad: 2;
    background: none;
}
#watchlist-dom-selector {
    grow: h;
    dir: h;
    background: #2f2f2f;
}
#watchlist-selector-btn, #orderbook-selector-btn {
    grow: h;
    pad: 5;
    border: 0;
    borderBottom: 3;
    borderRadius: 0;
    borderColour: #2f2f2f;
    background: #2f2f2f;
}
#watchlist-selector-btn:hover, #orderbook-selector-btn:hover {
    background: #515151;
    borderColour: #9b5920;
}



#trade-panel {
    background: #000000;
    border: 4;
    borderRadius: 5;
    pad: 5;
    borderColour: #151515;
    dir: v;
    grow: h;
}
#trade-panel-side-selection {
    dir: h;
    grow: h;
    background: none;
}
#buy-side-btn {
    dir: v;
    grow: h;
    borderRadius: 5;
    borderRadiusTopRight: 0;
    borderRadiusBottomRight: 0;
    background: #02a95b;
}
#sell-side-btn {
    dir: v;
    grow: h;
    borderRadius: 5;
    borderRadiusTopLeft: 0;
    borderRadiusBottomLeft: 0;
    background: #db2626;
}
.buy-side-text, .sell-side-text {
    background: none;
    grow: h;
    textAlignH: center;
    textColour: #000000;
}   
.input-label {
    pad: 3;
    background: none;
}
.number-input {
    border: 1;
    borderRadius: 3;
    borderColour: #2f2f2f;
    background: #000000;
    pad: 5;
    grow: h;
}
.number-input:hover {
    borderColour: #9b5920;
    borderRadius: 3;
}




#right-bar {
    background: none;
    grow: b;
    dir: v;
    gap: 3;
}
#chart {
    border: 4;
    borderRadius: 5;
    borderColour: #151515;
    background: #000000;
    grow: b;
}
#drawing-toolbar {
    dir: v;
    grow: v;
    background: #2f2f2f;
    borderRadius: 3
    padTop: 4;
    padBottom: 4;
}
.drawing-tool {
    width: 43;
    height: 40;
    pad: 5;
    border: 0;
    borderLeft: 3;
    borderRadius: 0;
    borderRadiusTopRight: 5;
    borderRadiusBottomRight: 5;
    borderColour: #2f2f2f;
    background: #2f2f2f;
}
.drawing-tool:hover {
    borderColour: #9b5920;
}
.drawing-tool:press {
    borderColour: #151515;
    background: #151515;
}






#trade-history-container {
    grow: b;
    background: #2f2f2f;
    borderRadius: 5;
    gap: 3;
}
#trade-history-toolbar {
    background: #151515;
    grow: h;
    alignV: center;
    pad: 3;
    borderRadius: 5;
}
.page-icon {
    width: 30;
    height: 30;
    pad: 4;
}
.page-btn {
    height: 30;
    width: 50;
    pad: 4;
}

#orders-table {
    overflowV: s;
    grow: b;
    border: 3;
    borderRadius: 5;
}
#orders-head {
    pad: 5;
    borderRadiusTopLeft: 5;
    borderRadiusTopRight: 5;
}
row {
    borderBottom: 1;
    borderColour: #000000;
    background: #2f2f2f;
}
.cell {
    pad: 5;
    background: none;
    borderRight: 1;
    borderColour: #000000;
}