button, .bing-chilling {
    background: #020730;
    borderColour: #f0f0f0;
    pad: 10;
    height: 1000;
    borderRadius: 5;
    borderRadius: 5;
    gap: 5;
}
.chart {
    background: #969696;
}
rect {
    borderColour: #af7431;
    background: #1b1742;
    borderTop: 10;
    borderBottom: 1;
    borderLeft: 3;
    pad: 3;
    gap: 5;
}
#win {

}
window {
    background: #bd0606;
    pad: 20;
}
.bing {

}

.fat {
    pad: 15;
}