button {
    background: #000000;
    borderColour: #737c93;
    border: 1;
    pad: 10;
    borderRadius: 5;
    borderRadius: 5;
    gap: 3;
}
image {
    background: #000000;
}
#toolbar {
    pad: 5;
    gap: 3;
    borderRadius: 5;
    background: #373c55;
    borderColour: #000000;
}
#toolbar-info-container {

}
.toolbar-info {
    border: 1;
    borderColour: #7d6443;
    pad: 10;
}
#symbol-search {
    border: 1;
    borderColour: #737c93;
    pad: 5;
    borderRadius: 5;
    borderRadius: 5;
}
.watchlist-item {
    border: 1;
    borderColour: #737c93;
    pad: 5;
    borderRadius: 5;
    borderRadius: 5;
    gap: 3;
    grow: h;
}
.hspacer {
    grow: h;
}
#chart-container {
    dir: h;
    grow: b;
    gap: 3;
}
#chart {
    background: #969696;
    grow: b;
    borderRadius: 5;
    borderColour: #000000;
}
#drawing-toolbar {
    background: #1c243f;
    dir: v;
    grow: v;
    alignH: center;
    pad: 5;
    gap: 5;
    borderRadius: 5;
}
.drawing-tool {
    width: 30;
    height: 30;
}
#trade-history {
    background: #1c243f;
    maxHeight: 300;
    grow: b;
    borderRadius: 5;  
}
#trade-history-toolbar {
    borderBottom: 2;
    borderRadiusTopLeft: 5; 
    borderRadiusTopRight: 5; 
    borderColour: #000000;
    background: #373c55;
    grow: h;
    pad: 5;
    gap: 3;
}
window {
    background: #000000;
    pad: 5;
    gap: 3;
}
#sidebar {
    background: #1c243f;
    borderColour: #000000;
    pad: 5;
    gap: 2;
    borderRadius: 5;
}
#rightbar {
    dir: v;
    grow: b;
    gap: 3;
}
.bing {

}

.fat {
    pad: 15;
}